.logo {
    margin-left: 19px;
    width: 30px; 
    height: auto; 
}

.custom-card {
    background-color:  #F0F8FF; 
}

.custom-color{
    color: #4B9CD3;
}

/* for small screens */
@media (max-width: 767.98px) {
    .small-card {
        margin-left: 0; 
        margin-top: 10px;
    }
}
/* CSS for larger screens */
@media (min-width: 768px) {
    .small-card {
        margin-left: -55px; 
    }
}

@media (max-width: 767.98px) {
    .medium-card {
        margin-top: 10px; 
    }
}
/* CSS for larger screens */
@media (min-width: 768px) {
    .medium-card {
        margin-top: 0; 
    }
}




.para-container{
    position: relative;
    bottom: 70px ;
    
}



